@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
img{margin:0;padding: 0;}

$rem:75;//公共尺寸
header{
    width:100%;
    margin-top:20/$rem*1rem;
    img{
        width:100%;
    }
}
.doubt{
    width:640/$rem*1rem;
    height:80/$rem*1rem;
    background: #066dff;
    margin:0 auto;
    margin-top:-20/$rem*1rem;
    color:#fff;
    font-size:36/$rem*1rem;
    text-indent: 30/$rem*1rem;
    display: flex;
    align-items: center;
}
.poor{
    font-size:32/$rem*1rem;
    padding: 0 80/$rem*1rem;
    box-sizing: border-box;
    text-align: justify;
    width:100%;
    height:550/$rem*1rem;
    color:#e84e22;
    line-height: 50/$rem*1rem;
    margin-top:60/$rem*1rem;
}
.imgs{
    width:100%;
    padding:0 25/$rem*1rem;
    box-sizing: border-box;
    margin-top:40/$rem*1rem;
    img{
        width:100%;

    }
}
.title{
    width:650/$rem*1rem;
    height:90/$rem*1rem;
    border:3px solid #fb0000;
    padding: 10/$rem*1rem;
    box-sizing: border-box;
    margin-left:25/$rem*1rem;
    margin-top:40/$rem*1rem;
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32/$rem*1rem;
        color:#fb0000;
        height:100%;
        width:100%;
        border:2px dashed #fb0000;
        font-weight: 600;
    } 
}
.wx{
    width:100%;
    height:1500/$rem*1rem;
    padding: 0 55/$rem*1rem;
    text-align: justify;
    font-size: 36/$rem*1rem;
    box-sizing: border-box;
    color:#484c4b;
    line-height: 65/$rem*1rem;
    margin-top:90/$rem*1rem;
    span{
        color:#ff0000;
        font-weight: 600;
    }
}
.wx1{
    height:850/$rem*1rem;
    margin-top:30/$rem*1rem;
}
.copy{
     padding:0 25/$rem*1rem;
    box-sizing: border-box;
    width:100%;
    height:100%;
    font-size: 36/$rem*1rem;
    font-weight: 600;
    p{
        width:250/$rem*1rem;
        height:50/$rem*1rem;
        background: #d9126c;
        color:#fff;
        font-size:32/$rem*1rem;
        font-weight: 0;
        border: none;
        outline: none;
        text-align: center;
    }
}
ol{
    width:100%;
    padding: 0 20/$rem*1rem;
    box-sizing: border-box;
    margin-top:50/$rem*1rem;
    li{
        padding: 0 20/$rem*1rem;
        display: flex;
        position: relative;
        border-bottom: 1px solid #dedede;
        div:nth-child(1){
            width:70/$rem*1rem;
            height:100%;
            display: flex;
            margin-right:25/$rem*1rem;
            img{
                width:80/$rem*1rem;
                height:80/$rem*1rem;
                margin-top:20/$rem*1rem;
                
                border-radius: 50%;
            }
        }
        div:nth-child(2){
            width:640/$rem*1rem;
            height:100%;
            p:nth-child(1){
                font-size: 30/$rem*1rem;
                // text-align: center;
                margin-top:15/$rem*1rem;
                color:#124da3;
            }
            p:nth-child(2){
                font-size: 32/$rem*1rem;
                // text-align: center;
                color:#4d4d4d;
                margin-bottom:20/$rem*1rem;
            }
            div{
                font-size:20/$rem*1rem;
                color:#b2b9c4;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top:-10/$rem*1rem;
                margin-bottom:20/$rem*1rem;
                img{
                    width:40/$rem*1rem;
                    height:40/$rem*1rem;
                    vertical-align: bottom;
                }
            }
        }
    }
    li:nth-child(1){
        height:60/$rem*1rem;
        font-size:28/$rem*1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span:nth-child(1){
            color:#222;
            height:60/$rem*1rem;
            border-bottom:1px solid #01409e;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        span:nth-child(2){
            color:#666;
        }
    }
    li:nth-child(6){
        margin-bottom: 100/$rem*1rem;
        border:none;
    }
}
.fixed{
    width:100%;
    height:80/$rem*1rem;
    font-size:36/$rem*1rem;
    padding: 0 30/$rem*1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:0;
    left:0;
    box-sizing: border-box;
    background: #eee;
    color:#333;
    pre{
        font-family: 微软雅黑;
        span{
            background: #d9126c;
            color:#fff;
        }
    }
}
.fixed1{
    position: fixed;
    right:0;
    top:400/$rem*1rem;
    width:250/$rem*1rem;
    height:250/$rem*1rem;
}
